{% extends 'bootstrap/base.html'  %} 
{% import 'bootstrap/wtf.html' as wtf  %} 

{% block title  %} Email List Upload  {% endblock  %}

{%  block   navbar  %}
{% if current_user.is_authenticated %}
{% include 'navbar_logged_in.html' %}
{% else %}
{% include 'navbar_not_logged_in.html' %}
{% endif %}
{%  endblock  %}

{% block content  %} 
{% include 'flash_messages.html' %}

<div class='container' style= "display: block;text-align: left; margin:0 auto;max-width: 750px; padding-left:200px">
    <h1>Please note!</h1>
    <p>Only csv files are allowed.</p>
    <p>Files can have multiple columns of data.</p>
    <p>Make sure that the name of the column for the email addresses is called "email"</p>
    <hr>

    <h1>Select a file to upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="csv_file" accept='.csv'></p>
        <p><input type="submit" value="Submit"></p>
      </form>

</div>

{% include 'footer.html' %}

{% endblock  %}