{% extends 'bootstrap/base.html'  %} 
{% import 'bootstrap/wtf.html' as wtf  %} 

{% block title  %}Password Reset Via Email{% endblock  %}

{%  block   navbar  %}
{% if current_user.is_authenticated %}
{% include 'navbar_logged_in.html' %}
{% else %}
{% include 'navbar_not_logged_in.html' %}
{% endif %}
{%  endblock  %}

{% block content  %} 
{% include 'flash_messages.html' %}

<div class="container" >
    <div class="col-md-4 col-md-offset-4" >
        <div class='text-center h1 text-white bg-primary' style='padding:10px 0px;'>Password Reset</div>
        <hr>
        <p>Please enter your email</p>
        <form action="" method="post" class="form" role="form" >
            {{ form.hidden_tag() }}
        
            <div class="form-group ">
            {{ wtf.form_field(form.email, type='text', class='form-control', placeholder='Email') }}
            </div>
        
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>

    </div>

    </div>
{% include 'footer.html' %}

{% endblock  %}